In [1]:
import pandas as pd
import numpy as np

In [4]:
cal_df = pd.read_csv('data/calories.csv')
cal_df.sample(5)

        User_ID  Calories
9654   17740953      47.0
1185   13581119     133.0
11792  15500413     140.0
678    13269063      92.0
1967   14805647     155.0

In [5]:
exer_df = pd.read_csv('data/exercise.csv')
exer_df.sample(5)

       User_ID  Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
2742  14551181  female   55   155.0    54.0       5.0        81.0       39.0
4494  12528072  female   31   158.0    53.0      10.0        91.0       40.0
355   12431875    male   26   182.0    84.0       5.0        81.0       39.1
3332  15752262  female   63   162.0    58.0      27.0       106.0       40.9
4801  13528098    male   58   194.0    95.0      23.0       106.0       40.5

In [14]:
df = pd.merge(exer_df, cal_df, on='User_ID')
df.sample(5)

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
8626,13152002,female,43,149.0,56.0,21.0,103.0,40.5,129.0
6455,12553617,female,65,159.0,64.0,25.0,98.0,40.7,147.0
7276,19170352,female,20,173.0,70.0,5.0,75.0,38.8,13.0
667,14298031,female,51,169.0,68.0,17.0,105.0,40.4,107.0
5194,17968072,female,25,165.0,66.0,11.0,103.0,40.2,62.0